.navBar {
  text-align: center;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
}

.page-title {
  color: white;
  text-align: left;
}

.page-title > h1 {
  font-size: 4em;
  margin-top: 2em;
  margin-bottom: 1rem;
}

.page-title > h4 {
  font-style: italic;
}

.profile-pic {
  filter: opacity(0.8);
  border-radius: 10px;
  margin-top: 1rem;
  float: right;
}

span {
  display: block;
  padding: 1.5rem;
}

.navLink {
  display: inline-block;
  position: relative;
  margin-top: 1.5rem;
}

.fa-file,
.fa-info,
.fa-folder,
.fa-phone-square,
.github {
  display: block;
  font-size: 3rem;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  color: rgba(239, 239, 243, 0.6);
  transition: 0.5s;
}

.fas.github {
  height: 3rem;
  filter: invert(75%);
}

.fas:hover {
  color: rgba(18, 18, 212, 0.8);
}

.fas.github:hover {
  filter: invert(25%);
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  padding: 1rem;
  color: white;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: "Yusei Magic", sans-serif;
  margin-top: 5rem;
}

h4,
.container {
  font-family: "Roboto Mono", monospace;
}

.resume-container {
  padding: 2rem;
  text-align: center;
}

/* About me section styling */

.about-container{
  color: white;
  position: absolute;
  width: 70%;
  text-align: center;
}

.about-me{
  margin: auto;
  left: 0;
  right: 0;
  text-align: justify;
  display: flex;
}

.about-container>h3{
  display: block;
  margin-bottom: 2rem;
}

.about-me-pic{
  border-radius: 10px;
}

/* contact container style */

.contact-container {
  list-style-type: none;
  text-align: center;
  margin-top: 3rem;
}

.contact-container>a{
  display: inline-block;
}

.fa-envelope {
  font-size: 3rem;
}

.linkedin{
  width: 3rem;;
}

/* capstone container styling */
.capstone {
  font-family: "Chakra Petch", sans-serif;
}

.capstone-title {
  font-family: "Delius Unicase", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.capstone-container {
  text-align: center;
}

.framework-used {
  list-style-type: none;
  font-weight: bold;
  font-size: xx-large;
  display: inline-block;
  vertical-align: middle;
  margin-top: 3rem;
}

.tech-stack {
  display: inline;
  font-weight: bold;
  font-size: xx-large;
  vertical-align: middle;
}

.capstoneCollage {
  position: absolute;
  width: 70%;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: -1;
  border-radius: 5px;
}

/* capstone detail styling */

.heroku-img {
  height: 150px;
  margin-left: -100px;
}
.github-img {
  height: 150px;
  margin-top: 2rem;
  margin-left: -100px;
  filter: invert();
}
