#boggle {
    background-color: rgb(228, 150, 34);
    display: table;
    width: 350px;
    text-align: center;
    padding-top: 10px;
    margin: auto;
}

.board {
    border: solid 5px #FFCA08 ;
    font-family: monospace;
    font-weight: bold;
    font-size: 200%;
    background-color: #398bd4;
    margin: auto;
  }

tbody {
    padding: 10px;
}
  
.board td {
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: -2px 2px 2px #000;
    outline: none;
    margin: 4px;
  }
  
.msg {
    padding: 1em;
  }
  
.msg.ok {
    color: white;
    background-color: green;
  }
  
.msg.err {
    color: white;
    background-color: tomato;
  }
  