.boggle {
  background-color: rgba(228, 150, 34, 0.8);
  display: table;
  width: 450px;
  border-radius: 10px;
  margin: 25% auto;
}

.boggle-container{
  padding: 3rem;
  margin: 0 auto;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 5em;
  margin: 0 auto;
  color: white;
  padding: 1rem;
}

.boggle>p{
  font-weight: bold;
}

form>button{
  border-radius: 10px;
  padding: 5px;
  background-color: #66a2d6;
  color: black;
  font-weight: bold;
}

.board {
  border: solid 5px #FFCA08 ;
  font-family: monospace;
  font-weight: bold;
  font-size: 200%;
  background-color: #398bd4;
  margin: 0 auto;
  padding: 2rem;
  color: #979899;
}

.board td {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: -2px 2px 2px #000;
  outline: none;
  margin: 1rem;
  padding: 1rem;
}

.msg {
  padding: 1em;
}

.msg.ok {
  color: white;
  background-color: green;
}

.msg.err {
  color: white;
  background-color: tomato;
}
