/* game board table */
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 6em;
  margin: 0 auto;
  color: white;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: white;
  margin: 0 auto;
  font-size: 3em;
}

.connect4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

#game {
  text-align: center;
  align-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.connect4-container {
  margin: auto;
  left: 0;
  right: 0;
}

#board td {
  width: 4em;
  height: 4em;
  border: none;
  display: inline-block;
  background: radial-gradient(
      circle,
      transparent,
      transparent 18px,
      #007fff 20px,
      #007fff 23px,
      #1f90ff 23px,
      #1f90ff 36px,
      #007fff
    )
    center top/60px 60px;
  overflow: hidden;
}

button {
  margin-top: 2rem;
  border: none;
  border-radius: 10%;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background: #2196f3 center;
  box-shadow: 0 0 4px #999;
  outline: none;
  font-family: "Raleway", sans-serif;
}
.game-over{
    color: white;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin-top: 10px;
  margin-left: 5px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  animation: bounceInDown;
  animation-duration: 0.7s;
  z-index: -1;
  position: absolute;
}

.piece.p1 {
  background-color: red;
  opacity: 90%;
}

.piece.p2 {
  background-color: yellow;
  opacity: 90%;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: none;
  background: none;
}

#column-top td:hover {
  border-radius: 50%;
  background-color: lightgrey;
  opacity: 50%;
}

#leftLeg {
  float: left;
  display: inline;
  background-color: #1f90ff;
  width: 1em;
  height: 3em;
  margin-top: -5px;
}

#rightLeg {
  float: right;
  display: inline;
  background-color: #1f90ff;
  width: 1em;
  height: 3em;
  margin-top: -5px;
}
