

.jeopardy{
	margin: 0 auto;
	text-align: center;
	font-family: "Bebas Neue", cursive;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
}

.jeopardy-board{
margin: 25% auto;
}
.table tr,
td {
	border: 3px solid black;
	background-color: #060ce9;
	font-size: 2rem;
	padding: 1rem;
	text-transform: uppercase;
	height: 4em;
	text-shadow: black 3px 1px;
	vertical-align: middle;
}

.table{
	margin-top: 2rem;
	margin: auto;
	left: 0;
	right: 0;
	border: 3px solid black;
	text-align: center;
	overflow-wrap: break-word;
	max-width: 700px;
}
td {
	color: rgb(190, 180, 83);
	text-shadow: black 4px 1px;
  }
th {
	font-size: 1.5rem;
	border: 3px solid black;
	color: white;
	text-align: center;
  }

#jeopardy {
	height: 4em;
}

.showing {
	color: white;
	font-size: 1.5rem;
	text-shadow: black 3px 1px;
  }

td:hover {
	cursor: pointer;
	border: outset yellow;
}

.startGame {
	margin-top: 10px;
	padding: .7em;
	border-radius: 10%;
	font-family: "Bebas Neue", cursive;
	width: 8em;
	background-color: rgb(190, 190, 6);
	color: black;
}

.startGame:hover {
	cursor: pointer;
	border: outset yellow;
}
