/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/



.jeopardy{
	font-family: 'Oswald', sans-serif;
	margin: 25% auto;
	left: 0;
	right: 0;
	text-align: center;
}
.table tr,
th,
td {
	border: 4px solid black;
	background-color: #060ce9;
	width: 12em;
	text-transform: uppercase;
	padding: .5em;
	color: white;
	text-align: center;
}

.table{
	margin-top: 10px;
}
td {
	height: 7em;
}

#jeopardy {
	height: 4em;
}

td:hover {
	cursor: pointer;
	border: outset yellow;
}

.startGame {
	margin-top: 10px;
	padding: .7em;
	border-radius: 10%;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: x-large;
	width: 10em;
	color: rgb(230, 230, 121);
	color: black;
}

.startGame:hover {
	cursor: pointer;
	border: outset yellow;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin-top: 1em;
	border-radius: 50%;
	border: 6px solid rgb(12, 11, 11);
	border-color: rgb(12, 11, 11) transparent black transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
