.fa-file,
.fa-info,
.fa-folder,
.github,
.fa-envelope,
.linkedin {
  display: block;
  font-size: 3rem;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  color: rgb(129, 129, 129);
}

.profile-pic {
  position: absolute;
  filter: opacity(0.3);
  right: 0;
  left: 0;
  width: 100vw;
  z-index: -4;
}

.fas.github {
  height: 3.5rem;
  filter: invert(0.7);
}

.linkedin {
  height: 3.5rem;
  filter: grayscale(100%);
  filter: brightness(0) invert(1) opacity(0.5);
}

span {
  display: block;
  margin-top: 1.5rem;
}

.navLink {
  display: inline-block;
  position: relative;
  right: 0;
  left: 0;
  padding: 1rem;
}

.navBar {
  text-align: center;
}

.main {
  margin: auto;
  left: 0;
  right: 0;
  overflow: visible;
  text-align: center;
}

.page-title > h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 7em;
  font-weight: bold;
  padding-top: 0;
  z-index: 1;
  margin-top: 7vw;
  margin-bottom: 0;
  color: rgb(156, 155, 155);
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  padding: 1rem;
  color: rgb(129, 129, 129);
}

a:hover {
  text-decoration: none;
}

.container {
  font-family: "Roboto Mono", monospace;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: rgb(146, 145, 145);

  /* Create the gradient. */
  background: linear-gradient(
    45deg,
    #979899 16.666%,
    #969797 16.666%,
    #8fb3cf 33.333%,
    #8fb3cf 33.333%,
    #5fa1d3 50%,
    #5fa1d3 50%,
    #3499f1 66.666%,
    #3499f1 66.666%,
    #188ff7 83.333%,
    #188ff7 83.333%
  );
  background-size: auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 2.5s ease-in;
}
body {
  background-color: black;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 2s ease-out;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.definition {
  animation: 1.5s ease-in 3s 1 fadeIn;
  color: rgb(116, 116, 116);
  margin: -1.3vw auto;
}

.likes {
  animation: 1.5s ease-in 4.5s 1 flipInX;
  color: rgb(116, 116, 116);
  padding: 1rem;
  word-wrap: break-word;
  margin: 4vw auto;
  left: 0;
  right: 0;
  text-align: left;
}

.folder {
  animation: 1.5s ease-in 4.5s 1 flipInX;
  color: rgb(116, 116, 116);
  padding: 1rem;
  margin: 4vw auto;
  left: 0;
  right: 2rem;
  text-align: right;
}
.fa-file-export {
  color: #2d95f0;
  font-size: 3em;
  opacity: 0.8;
}

small {
  color: rgb(116, 116, 116);
}

/* portfolio scroll box */

.portfolio-box {
  font-family: "Roboto Mono", monospace;
  margin: 25% auto;
  display: inline-block;
}
.portfolio {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  height: 375px;
}

.sidebar {
  margin: 30% auto;
}

.portfolio {
  overflow: auto;
  background-color: rgba(116, 116, 116, 0.7);
  border-radius: 5px;
}

.capstone,
.warbler {
  height: 350px;
}

.main-img {
  max-width: 40%;
  max-height: 50%;
  float: right;
  border-radius: 5px;
  filter: opacity(0.7);
  right: 0;
  margin: 2rem auto;
}

.text-box {
  color: white;
  text-align: left;
  overflow-wrap: break-word;
  padding: 0;
  margin: auto;
  height: 275px;
}

.thumb-imgs {
  height: 75px;
  padding: 5px;
  margin: 0 auto;
  left: 25%;
}

.heroku-img,
.github-img {
  height: 4em;
}

.fa-arrow-up,
.connect-img,
.jeopardy-img,
.boggle-img {
  font-size: 6rem;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  color: white;
  padding: 0;
}

.games {
  margin: 20px auto;
  left: 0;
  right: 0;
}

.games-text-box {
  text-align: center;
  color: white;
}

.connect-4-link,
.top-link,
.boggle-link {
  display: block;
  margin-top: 4rem;
  font-family: "Londrina Solid", cursive;
  font-size: 3rem;
}

.jeopardy-img {
  height: 6rem;
  margin-top: -15px;
}
.jeopardy-link {
  display: block;
  margin-top: 2rem;
  font-family: "Londrina Solid", cursive;
  font-size: 3rem;
}

.connect-img,
.boggle-img {
  height: 6rem;
  filter: invert(1);
}

.resume-container {
  margin: 25% auto;
}
.about-container {
  margin: 25% auto;
  background-color: rgba(116, 116, 116, 0.7);
  overflow: scroll;
  border-radius: 10px;
  padding: 1rem;
  color: #afaeae;
  overflow-wrap: break-word;
  display: block;
  padding: 2rem;
  max-height: 600px;
  font-size: 1.5rem;
}

.video-container {
  background-color: black;
  text-align: center;
  float: left;
  max-width: 320px;
}
.training-img {
  float: right;
  background-color: black;
  max-width: 250px;
}

.training {
  height: 200px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #70a4e7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #70a4e7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #70a4e7;
}

.resume-container {
  margin-top: 25%;
}
