.fa-file,
.fa-info,
.fa-folder,
.github,
.fa-envelope,
.linkedin {
  display: block;
  font-size: 3rem;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  color: rgb(129, 129, 129);
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.52;
  overflow: visible;
  margin: auto;
  left: 0;
  right: 0;
}

.fas.github {
  height: 3.5rem;
  filter: invert(0.7);
}

.linkedin {
  height: 3.5rem;
  filter: grayscale(100%);
  filter: brightness(0) invert(0.8) opacity(0.5);
}

span {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 700px) {
  span {
    margin-top: 2rem;
  }
}

.navLink {
  display: inline-block;
  position: relative;
  right: 0;
  left: 0;
  padding: 0.5rem;
}

.navBar {
  text-align: center;
}

.superShadow {
  font-family: "Kaushan Script", cursive;
  font-weight: bolder;
  font-size: 6em;
  margin: 3vw auto;
  text-align: center;
  color: rgb(233, 233, 233);
  position: relative;
}
.superShadow {
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
  color: rgb(129, 129, 129);
}

a:hover {
  text-decoration: none;
}

.container {
  font-family: "Architects Daughter", cursive;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  z-index: 9;
  position: relative;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(105, 161, 233);
  border-radius: 15px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  background-color: black;
}

.text {
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: lighter;

  text-align: center;
}

.noun {
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  padding-left: 1rem;
}

.definition {
  color: rgba(255, 255, 255, 0.7);
  padding: 4rem 3rem;
  margin-left: 5%;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .definition {
    margin: 2rem auto;
    width: 75%;
  }
}

.def-list {
  list-style-position: inside;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

.skills {
  color: rgba(255, 255, 255, 0.7);
  padding: 2rem 2rem 2rem 4rem;
  margin: 3% auto;
}

.list-group {
  padding: 5px;
  list-style-position: inside;
  margin-left: 5px;
  line-height: 1.6;
  font-size: 15px;
}
.next {
  height: 300px;
}

.nextBtn {
  background-color: black;
  box-shadow: 20px 38px 34px -6px hsla(0, 1%, 70%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px #41403e;
  width: min-content;
  position: absolute;
  padding: 2rem 4rem;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: -5% 0 0 5%;
}

@media only screen and (max-width: 700px) {
  .nextBtn {
    margin: 0 auto;
  }
}

.boggle:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.jeopardy:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.connect:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}
.nextBtn:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.upBtn:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.nextBtn:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.next {
  margin: 10px auto;
  text-align: center;
}

.main-content {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px #41403e;
  position: relative;
  background: black;
}

.portfolio-box {
  margin: 10px auto;
  padding: 3rem;
}

.capstone,
.warbler {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px #41403e;
  padding: 2rem;
  background-color: black;
}

.capstone {
  margin: 0 1rem 0 2%;
}

.warbler {
  background: black;
  margin: -6% 0 0 10%;
}

.main-img {
  max-width: 40%;
  max-height: 50%;
  float: right;
  border-radius: 5px;
  filter: opacity(0.8);
  right: 0;
  margin: 2rem auto;
}

.text-box {
  color: rgb(231, 231, 231);
  text-align: left;
  font-size: 16px;
}

.thumb-imgs {
  height: 75px;
  padding: 5px;
  margin: 0 auto;
}

.heroku-img,
.github-img {
  height: 4em;
}

.github-img {
  filter: invert(1);
}

.connect-img,
.boggle-img {
  font-size: 6rem;
  color: white;
}

.two {
  display: block;
}

.boggle,
.connect,
.jeopardy {
  font-size: 14px;
  border: solid 2px #41403e;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 20px 38px 34px -6px hsla(0, 1%, 70%, 0.2);
  text-align: center;
  background-color: black;
}

.jeopardy {
  width: max-content;
  padding: 1rem 3em 0 3rem;
  margin: 2% 0 0 3%;
}
.connect {
  margin: 2% 0 0 0;
  width: min-content;
  padding: 0 5rem 0 5rem;
}

.boggle {
  width: min-content;
  padding: 2rem 1rem;
  margin: 5% 0 0 5px;
}

a:hover {
  cursor: pointer;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  text-decoration: none;
}

.games-text-box {
  text-align: center;
  color: white;
}

.connect-4-link,
.jeopardy-link,
.boggle-link {
  font-size: 14px;
  margin: -2px auto;
}

.jeopardy-img {
  height: 8rem;
  margin: 1rem;
}

.connect-img,
.boggle-img {
  height: 1em;
  margin: 1rem;
  filter: invert(1);
}

.resume-container {
  margin: 15px auto;
}
.about-container {
  margin: 15px auto;
  background-color: rgba(116, 116, 116, 0.7);
  border-radius: 10px;
  padding: 1rem;
  color: #afaeae;
  overflow-wrap: break-word;
  display: block;
  padding: 2rem;
  max-height: 600px;
  font-size: 1.5rem;
}

.video-container {
  background-color: black;
  text-align: center;
  float: left;
  max-width: 320px;
}
.training-img {
  float: right;
  background-color: black;
  max-width: 250px;
}

.training {
  height: 200px;
}
