{% extends "home.html" %}


{% block content %}
<div class="row">
    <div class="col-md">
        <ul class="contact-container">
            <a class="email" href="mailto:rlhagerty@hotmail.com"><i class="fas fa-envelope"></i>
                <li>Email</li>
            </a>
            <a class="email" href="https://www.linkedin.com/in/hagertyrebecca/"><img class="linkedin responsive"
                    src="/images/linkedin.png">
                <li>Linkedin</li>
            </a>
        </ul>
    </div>
</div>
{% endblock %}