{% extends "home.html" %}


{% block content %}


<div class="portfolio-container">
    <div class="row">
        <div class="capstone-container">
            <div class="col-sm-2 capstone-thumbnails">
                
            </div>

            <div class="col-md-8">
                <h1 class="capstone-title">"Your Personal Mixologist"</h1>
                <img class="capstoneCollage" src="/static/images/mixologist-collage.jpg">
            </div>

            <div class="col-sm-2 capstone-detail">
                <h2 class="capstone">Full Stack Web Application</h2>
                <ul class="framework-used">
                    <li>Flask</li>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>CSS/HTML</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row other-projects">
        <h1>Other Projects:</h1>
        <div><a href="https://github.com/rhagerty/Warbler"><i class="fas fa-kiwi-bird"></i><p>Twitter
                    Clone</p><p>Python, Flask, HTML/CSS</p></a></div>
        <div><a href="https://github.com/rhagerty/myfirstone"><i class="far fa-question-circle"></i><p>Memory Game</p><p>JavaScript, HTML/CSS</p></a> </div>
        <div>Boggle</div>
        <div>Connect Four</div>
    </div>
</div>
{% endblock %}